<!DOCTYPE html>
<!-- saved from url=(0036)http://localhost:3000/recipies/index -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">.turbolinks-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}</style>
    
    


    <link rel="stylesheet" media="all" href="./hello_world.html_files/application.self-45eb386229362d20141d3111239239fcb61427aebe0917cc139dede8a66697ba.css" data-turbolinks-track="reload">
    <script src="./hello_world.html_files/jquery.self-660adc51e0224b731d29f575a6f1ec167ba08ad06ed5deca4f1e8654c135bf4c.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/jquery_ujs.self-e87806d0cf4489aeb1bb7288016024e8de67fd18db693fe026fe3907581e53cd.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/turbolinks.self-c5acd7a204f5f25ce7a1d8a0e4d92e28d34c9e2df2c7371cd7af88e147e4ad82.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/action_cable.self-1641ec3e8ea24ed63601e86efcca7f9266e09f390e82199d56aa7e4bd50e1aa9.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/cable.self-6e0514260c1aa76eaf252412ce74e63f68819fd19bf740595f592c5ba4c36537.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/home.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/recipies.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/transition.self-6ad2488465135ab731a045a8ebbe3ea2fc501aed286042496eda1664fdd07ba9.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/alert.self-742145c5bb847aafdadc6e339be795628f8bc25f177e851f03a8c42278eb0312.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/button.self-126ac9bf0e7f2d8568f8da3a00fd5f0fac6eae0946331003370161fbf8d7975e.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/carousel.self-e47323f363ceb3dc0bdbce05e36e709ed428e339833a41140a85cb0af24b8127.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/collapse.self-2eb697f62b587bb786ff940d82dd4be88cdeeaf13ca128e3da3850c5fcaec301.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/dropdown.self-561cca1cbaf67474e01e9536f106bad541594860a6df997004591c1c1957a147.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/modal.self-3e78617ade5663314b7ee0ea10375a5b34d59ffbade44939e3f2a4e4ef2019b3.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/tab.self-5bf7078b682f8b131332eefa46b45fa5eff2eca745fc0d03e2991450888f7c28.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/affix.self-6d6f1a7fc5c8aabf3547fa1b794fab6268f54bc55ad815e55873c71f52513517.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/scrollspy.self-969f3c5f48cdf1e439c7fa1154c13b948715f5c689f87837c0b64521d3b46ef6.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/tooltip.self-05afb177e08f98997ccfc84fa08a215e4b27d48d5fe4d049080675e9dffd8199.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/popover.self-0aa93860b59fe7393f1dd490f54b3cb994f9d6155adffce034d4e14ae361b041.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/bootstrap-sprockets.self-fbfa5ad7d9aa0afe439ec4ff3883acc4cb92b62cb67c40d674320c9aa1d4642d.js" data-turbolinks-track="reload"></script>
<script src="./hello_world.html_files/application.self-afe802b04eaf1de2ea762489c83c08aa4c4ff3ff13c21566e43cb710683f5abc.js" data-turbolinks-track="reload"></script>
  <title>RailsCookBook</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="xuiVaFqUnb2CbhBefK/upn2E0d5Hu+MgWm80n92lLq8y9ia/J/WGb/L8y1RYNBCNnQoCLaGavncwq40GFT9vVQ=="></head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:3000/recipies/index">The Ruby Cook Book For Beginners</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://localhost:3000/recipies/index">Recipies</a></li>
            <li></li>
          </ul>
          <img src="./hello_world.html_files/ruby-14be0fa1fd7ca22aa29f9bbe74835497fa6d8910e85050da0bb8fba0e5558fcd.jpg" alt="Ruby">
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
			<h1>Here you can see my difrrent recipies</h1>
<br>
<button type="button" class="btn btn-danger"><a href="http://localhost:3000/recipies/instalation">recipies</a></button>

<button type="button" class="btn btn-danger"><a href="http://localhost:3000/recipies/rvm">RVM</a></button>
    </div><!-- /.container -->
  
  <footer class="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </footer>

</body></html>