<h1>RVM</h1>
<br>
<p>Ruby version manager er et stærkt værktøj der tillader at man kan installere flere forskellige versioner af ruby og samtidig have forskellige klasse biblioteker til forskellige projekter. <br>
Defor vil jeg vise et par forskellige komandoer der ofte bliver brugt når man udvikler</p>
<br>
<br>
<p>sådan instalere du en bestemt ruby version</p>
<br>
<kbd>rvm install "ruby version"</kbd>
<br>
<br>
<p>sådan vælger du mellem ruby versioner</p>
<br>
<kbd>rvm use "ruby version"</kbd>
<br>
<br>
<p>sådan laver du et nyt gemset(klassebibliotek)</p>
<br>
<kbd>rvm gemset create "navn på dit projekt"</kbd>
<br>
<br>
<p>sådan vælger du mellem dine gemsets(klassebiblioteker)</p>
<br>
<kbd>rvm gemset use "navn på dit projekt"</kbd>