<h1>Fra begynder til udvikler, start her</h1>
<%= render partial: "shared/how_to_links" %>

<% @admin_subject.each do |page| %>
	<%=link_to "#{page.name.upcase}", page, class: "btn btn-danger"%>
<% end %>