

<% if current_user %>
  <h1><%= "velkommen #{current_user.username}" %></h1>
<% else %>
  <h1> Velkommen til IT-kogebogen</h1>
  <h5> Kik vores how to's igennem eller log ind for at diskutere med andre elever</h5>  
<% end %>